<h1><Add photo for:<%= @album.title %></h1>
<h6>
<%= simple_form_for([@album,@photo]) do |f| %>
	
	<%= f.input :caption, label: 'The name of photo' %>
	<%= f.input :description, hint: 'At least 10 words' %>
	<%= f.association :categories, as: :check_boxes %>
	<%= f.input :photo %>
	<%= f.button :submit %>
	
<% end %>

</h6>