<h1>Listing Photos</h1>
<img src='<%= @photos.photo_url(:thumb)%>'alt="photo"/>
<table border="1" bgcolor="#335675">
  <thead>
    <tr>
      <th>Title |</th>
      <th>Description |</th>
      <th>Photo |</th>
    </tr>
  </thead>
  <tbody>
 
  <tr>
  	<td><%= @photos.caption%></td>
  	<td><%= @photos.description%></td>
  	<td><%= @photos.photo %></td>
  </tr>
 
  </tbody>
</table>
<%= link_to 'Back to Album List', albums_path %>
<br>

<p> categories: <%= @photos.view_categories %> </p>